.mobile-nav
	ul
		li: a(href="#home") home
		li: a(href="#services") services
		li: a(href="#adventures") adventures
		li: a(href="#contact") contact

header
	.header-position

		nav.site-nav
			ul.left-top-nav
				li: a(href="#home") home
			ul.left-bottom-nav
				li: a(href="#barbers") Barbers

		h1.logo Spacenomad-Design

		nav.site-nav
			ul.right-top-nav
				li: a(href="#shop") shop
			ul.right-bottom-nav
				li: a(href="#contact") contact

		label(for= 'nav-toggle').mobile-nav-toggle: span
