<a id="pricing"></a>
section.pricing
	div.overlay
		.flex.price-row
			.col-1
				h1.price-title PICK A SERVICE
				p with
			.col-2
				img.ipad(src="/assets/img/ipad-png-1.png" width="90%")
				div.price
					a 
				div.price
					a 
				div.price
					a 
				div.price
					a 
				div.price
					a 
				div.price
					a 


