<a name="about"></a>
section.header
	.flex
		.col-2
			h1 about

section.about
	.flex
		.col-1.about-right
			p i'm #[span.alien cristian parra], a quarter century old #[span.alien digital nomad] with an interest for #[span.alien creation, coding, and web-design]. traveling is a newly found passion of mine because its given me the opportunity to #[span.alien explore, learn, and develop] from the world around me. My goal is to #[span.alien discover] more every day whilst meeting fascinating new people.
		.col-1.about-left
			p i was born in #[span.alien dallas texas] on january 1991. my family decided to move to #[span.alien orlando, florida] in 1996 where i spent the majority of my life growing up. november, 2015 was the year i decided to become a #[span.alien freelance web designer / developer]. you can currently find me living in #[span.alien tirana, albania]; a balkan country just north of greece. adios.
section.header
	.flex
		.col-2.copywrite
			p 2016 #[span.alien &copy] spacenomad-design
		