<a id="barbers"></a>
section.barbers

	.flex
		.col-2
			h1.barber-title CHOOSE A BARBER
	.flex.circles-3
		.col-1.barber-circle.bajron-pic
			.text-box
				p Bajron Heta
			.profile-button
				a(href="#pricing") View Profile

		.col-1.barber-circle.enri-pic
			.text-box
				p Enri Boba
			.profile-button
				a(href="#pricing") View Profile

		.col-1.barber-circle.toni-pic
			.text-box
				p Toni Selimaj
			.profile-button
				a(href="#pricing") View Profile
	.flex.circle-2 
		.col-1.barber-circle.miri-pic
			.text-box
				p Miri Mazhi
			.profile-button
				a(href="#pricing") View Profile
		.col-1.barber-circle.sebastjan-pic
			.text-box
				p Sebastjan Lushaj
			.profile-button
				a(href="#pricing") View Profile
