<a name="contact"></a>
section.header
	.flex
		.col-2
			h1 contact

section.contact
	.flex
		.col-2.contact-info
			p spacenomad.design@gmail.com<br>#[span.alien facetime]/ +355 68 895 3230<br>#[span.alien skype]/ spacenomad