<a name="adventures"></a>
section.header
	.flex
		.col-2
			h1 adventures

section.adventures
	.flex
		.col-1.vid
			p #[span.alien location]: tirana, albania<br>#[span.alien date]: jan, 2016
		.col-1.vid-1
			.flex-video <iframe  src="https://www.youtube.com/embed/aMystsVAkH4" frameborder="0" allowfullscreen></iframe>
	.flex
		.col-1.vid
			p #[span.alien location]: tirana, albania<br>#[span.alien date]: dec, 2015
		.col-1.vid-1
			.flex-video <iframe src="https://www.youtube.com/embed/dhvlkeqJXu4" frameborder="0" allowfullscreen></iframe>
	.flex
		.col-1.subscribe
			p #[span.alien subscribe] to my channel on:
		.col-1
			a(href="https://www.youtube.com/channel/UCTavYavw29jSmH7U30TsLtw" target="_blank").home-btn youtube